
.App {
  text-align: center;
  font-family: Roboto;
  
}

.App-header {
  background-color: #11FFBD;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

.Nav-Link{
  float: left;
  color: white;
  text-decoration: none;
  font-size: 20px;
  text-align: center;  
  min-width: 70%;
  
  
}

.Nav-Link.active{
  background-color: #55ffc4;
  border-radius: 10px;
}

.radio-in{
  margin-top: 90px;
  margin-left: 30%;
  font-size: 20px;
  
}
.radio-in input{
  margin-bottom: 32px;
  margin-right: 10px;
  
}

 .submit-btn{
  font-size: xx-large;
  font-weight: 700;
  border-radius: 5px;
  border-color:#a0c4fb;
  background-color: white;
  border-width: 3px;
  border-style: solid;
  width: 250px;
  font-family: 'Times New Roman', Times, serif;
  align-items: center;
  margin-left: 30%;
  margin-top: 10px;
}
.test{
background-color: rgb(235, 232, 232);
}